<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestbook">
	<select id="list" resultType="com.ict.db.VO">
		select * from guest order by id desc
	</select>
	<select id="detail" parameterType="String" resultType="com.ict.db.VO">
		select * from guest where id=#{id}
	</select>
	<select id="insert" parameterType="com.ict.db.VO">
		insert into guest values(guest_seq.nextval,#{name},#{pw},#{title},#{email},#{text},sysdate)
	</select>
	<select id="update" parameterType="com.ict.db.VO">
		update guest set title=#{title}, email=#{email}, text=#{text} where id=#{id}
	</select>
	<select id="delete" parameterType="String">
		delete from guest where id=#{id}
	</select>
</mapper>
